<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entities.User">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="projectId" property="projectId" jdbcType="BIGINT"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="age" property="age" jdbcType="BIGINT"></result>
    </resultMap>
    <select id="getUser" resultMap="BaseResultMap">
     select  * from t_user where id=#{id}

    </select>



</mapper>
